.container {
  max-width: 1110px;
  margin: auto;
  // border: 2px solid red;
}

button {
  border: none;
  outline: none;
}

@mixin flex-center-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-center-between-column {
  @include flex-center-between;
  flex-direction: column;
}
